.input-container {
    flex-grow: 1;
    font-size: 2em;
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    color: white;
    justify-content: center;
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0.25em;
    width: 65%;
    border-radius: 2em;
    user-select: none;
}

input {
    width: 25%;
    font-size: 1em;
    flex-grow: 100;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: white solid;
}

input:focus {
    outline: none;
}
