<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="TicTacToeConfig" status="error">
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>%d %5p %c{1} %X %F:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR"  additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="pt.isel.SHORT" level="DEBUG"  additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
